doctype html
html
  head
    title Smart Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
            ul
                div#logo 
                    img(src="/static/img/logo..png", alt="")
                    p PDA
                li #[a(href ="/") Home ]
                li #[a(href ="about") About ]
                li #[a(href ="service") Services]
                li #[a(href ="class") Class Info] 
                li #[a(href ="contact") Contact]
    block content
    div#bottom 
         p @SmartAcademy | All right Reserved