doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Smart Dance Academy
    block scripts
        script(src='/static/index.js') 
    block style
        style 
          include ../static/style.css
          include ../static/phone.css    
  body
    nav.navbar(id="navigation" )
            button.btn(onclick=`play()`) &#10006;
            ul
                
                li #[a(href ="/") Home ]
                li #[a(href ="service") Services]
                li #[a(href ="class") Class Info] 
                li #[a(href ="contact") Contact]
                li #[a(href ="about") About ]
    block content
    div#bottom 
         p @SmartAcademy | All right Reserved