extends base.pug 

block scripts
    script(src='/static/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/phone.css   
        include ../static/alerts.css   
block content
    div.alert 
        img(src="/static/img/right.webp", alt="this is right image") 
        h1 Thank you! we will contact you within 24 hrs