extends base.pug 

block scripts
    script(src='/static/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/phone.css   
        include ../static/alerts.css   
block content
    div.alert 
        img(src="/static/img/right.webp", id="success" alt="this is right image") 
        img(src="https://gifimage.net/wp-content/uploads/2018/04/processing-gif-image-1.gif", id="process" alt="this is right image") 
        h1#success_message Thank you! we will contact you within 24 hrs