extends base.pug

block scripts
    script(src='/static/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/phone.css  
block content 
    section#introSection
        div Welcome to Pal's Dance Academy 
        div.small Eat Sleep Dance repeat
    section#missionSection
        h2 Our Mission
        div.cardContainer 
            div.card
                h3#a Dance Perfection
                div.card-box 
                    div.card-img
                        img(src="/static/img/dance1.jpg", alt="")
                    div.card-content 
                        p At The Studio Dance Perfection, we live to dance and we 
                
            div.card
                h3 Dance the way you like 
                div.card-box 
                    div.card-img
                        img(src="/static/img/dance2.jpg", alt="")
                    div.card-content 
                        p At The Studio Dance Perfection, we live to dance and we 
            div.card
                h3 Expert Teaching 
                div.card-box 
                    div.card-img
                        img(src="/static/img/dance3.jpg", alt="")
                    div.card-content 
                        p At The Studio Dance Perfection, we live to dance and we 
    section#sponserSection
        h2 Our Sponsers 
        div#sponser_container 
            div.sponsers 
                img(src="/static/img/logo10.png", alt="sponsers")
            div.sponsers 
                img(src="/static/img/logo6.jpg", alt="sponsersv")
            div.sponsers 
                img(src="/static/img/logo7.jpg", alt="sponsers")
            div.sponsers 
                img(src="/static/img/logo8.png", alt="sponsers")
            div.sponsers 
                img(src="/static/img/logo9.jpg", alt="sponsers")
    section#whyusSection
        h2 Why us 
        div#why_us_container 
            div.whyus 
                h3 Dance as your Career? Why not!
                p Pal Dance Academy can be a great medium to express yourself and enjoy your life. But, there is much more to this craft. It can help you fullfil your dreams … 
            div.whyus
                h3 A Career in dance
                p Apart from being a fine skill, dancing can be a well-paying career too. It can earn you recognition, fame, and lots of money as well. With our assistance… 
            div.whyus 
                h3 Challange
                p There is hardly any challenge that a dedicated dancer can’t face in his/her entire career except for their ego. Sometimes, when a dancer who…

    section#certificateSection
        h2 Get Certified 
        img(src="/static/img/Cbanner.webp", alt="")
        //- div#cerificate_container

    section#newsletter 
        h1 Join us! It will only take a minute
        button.btn Subcribe Newsletter 
    footer#footer 
        div#footerSection
            div.footerDiv
                h1 Follow 
                ul 
                    li #[a(href ="/") Facebook  ]
                    li #[a(href ="/") InstaGram  ]
                        li #[a(href ="/") Linkedln  ]
                        li #[a(href ="/") GitHub ]
            div.footerDiv 
                h1 Contact Us 
                ul 
                    li #[a(href ="/") +91-8630834625 ]
                    li #[a(href ="/") +91-9084014625  ]
                    li #[a(href ="/") devendrapal8682@gmail.com ]
            div.footerDiv 
                h1 Quick links
                ul 
                    li #[a(href ="/") Home  ]
                    li #[a(href ="/service") Service ]
                    li #[a(href ="/") Register ]
                    li #[a(href ="/") Privacy Policy]
            div.footerDiv 
                h1 More
                ul 
                    li #[a(href ="/") Home  ]
                    li #[a(href ="/") Service ]
                    li #[a(href ="/") Register ]
                    li #[a(href ="/") Privacy Policy]
