extends base.pug 

block scripts
    script(src='/static/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/phone.css  
        include ../static/service.css  
block content
    h1 Our service
    div#container 
        div.box 
            div.heading
                h2 Training
            div.trainingContainer 
                div.boxImage 
                    img(src="/static/img/intro.jpg", alt="this is photo")
                div.boxContent
                    h2 Training
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. 
                    p saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!ipsum dolor sit 
                    p amet consectetur adipisicing elit. Iure error maxime voluptates assumenda consequuntur totam 
                    p fugiat saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!  
            div.btn
                button Book a class
        div.box 
            div.heading
                h2 Regular Classes
            div.trainingContainer 
                div.boxContent
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. 
                    p Eos odio inventore rerum maxime veniam molestiae consectetur provident at ipsa, pariatur 
                    p saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!ipsum dolor sit 
                    p amet consectetur adipisicing elit. Iure error maxime voluptates assumenda consequuntur totam 
                    p fugiat saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!  
                div.boxImage 
                    img(src="/static/img/intro..jpg", alt="this is photo")
        div.box 
            div.heading
                h2 Choreography
            div.trainingContainer 
                div.boxImage 
                    img(src="/static/img/intro...jpg", alt="this is photo")
                div.boxContent
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. Eos odio inventore rerum maxime veniam molestiae consectetur provident at ipsa, pariatur 
                    p excepturi facere dicta harum magni voluptatum voluptates assumenda, ex, dolore recusandae aspernatur eveniet sunt! Dolorem optio facere, est inventore, dolore cupiditate nisi eveniet in, labore incidunt asperiores repellat eius sed sint assumenda? Odio totam harum eius nihil corrupti, quisquam iusto veritatis fugiat ipsum nam nesciunt asperiores. Repellat facere dolor magni corporis. ipsum dolor sit amet consectetur adipisicing elit. Iure error maxime voluptates assumenda consequuntur totam fugiat 
                    p saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!ipsum dolor sit 
                    p amet consectetur adipisicing elit. Iure error maxime voluptates assumenda consequuntur totam fugiat saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!  
        div.box 
            div.heading
                h2 HookSteps
            div.trainingContainer 
                div.boxContent
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. 
                    p Eos odio inventore rerum maxime veniam molestiae consectetur provident at ipsa, pariatur 
                    p excepturi facere dicta harum magni voluptatum voluptates assumenda, ex, dolore recusandae
                    p aspernatur eveniet sunt! Dolorem optio facere, est inventore, dolore cupiditate nisi eveniet 
                    p amet consectetur adipisicing elit. Iure error maxime voluptates assumenda consequuntur totam 
                    p fugiat saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!  
                div.boxImage 
                    img(src="/static/img/intro1.jpg", alt="this is photo")
        div.box 
            div.heading
                h2 HookSteps
            div.trainingContainer 
                div.boxImage 
                    img(src="/static/img/intro1.jpg", alt="this is photo")
                div.boxContent
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. 
                    p Eos odio inventore rerum maxime veniam molestiae consectetur provident at ipsa, pariatur 
                    p excepturi facere dicta harum magni voluptatum voluptates assumenda, ex, dolore recusandae
                    p aspernatur eveniet sunt! Dolorem optio facere, est inventore, dolore cupiditate nisi eveniet 
                    p in, labore incidunt asperiores repellat eius sed sint assumenda? Odio totam harum eius nihil 
                    p corrupti, quisquam iusto veritatis fugiat ipsum nam nesciunt asperiores. Repellat facere 
        div.box 
            div.heading
                h2 HookSteps
            div.trainingContainer 
                div.boxContent
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. 
                    p Eos odio inventore rerum maxime veniam molestiae consectetur provident at ipsa, pariatur 
                    p excepturi facere dicta harum magni voluptatum voluptates assumenda, ex, dolore recusandae
                    p aspernatur eveniet sunt! Dolorem optio facere, est inventore, dolore cupiditate nisi eveniet 
                    p in, labore incidunt asperiores repellat eius sed sint assumenda? Odio totam harum eius nihil 
                    p at saepe ea alias.olore! Libero aspernatur magnam dolorem sit doloribus!  
                div.boxImage 
                    img(src="/static/img/dance57.jpg", alt="this is photo")
        div.box 
            div.heading
                h2 HookSteps
            div.trainingContainer 
                div.boxImage 
                    img(src="/static/img/bg1.jpg", alt="this is photo")
                div.boxContent
                    p Lorem, Lorem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    p perferendis magni illum vitae. Eum nihil eaque sequi dolore quia nam voluptas. 
                    p Eos odio inventore rerum maxime veniam molestiae consectetur provident at ipsa, pariatur 
                    p excepturi facere dicta harum magni voluptatum voluptates assumenda, ex, dolore recusandae
                    p aspernatur eveniet sunt! Dolorem optio facere, est inventore, dolore cupiditate nisi eveniet 
                    p in, labore incidunt asperiores repellat eius sed sint assumenda? Odio totam harum eius nihil 
                    p corrupti, quisquam iusto veritatis fugiat ipsum nam nesciunt asperiores. Repellat facere 
                    