/* @media screen and (max-width:391px) {

    #navbar{
        text-align: center;
        width: 100%;
        position: relative;
        display: block;
    }
    #navbar ul{
        display: block;
        margin: auto;
    }
    #navbar ul li:hover{
        background-color: black;
    }
    #navbar ul li a:hover{
        border-bottom: none;

    }
    #introSection{
        height: 400px;
        width: 100%;
        margin-top: 25px;
        padding: 25px;
    }
    #missionSection{
        height: 100%;
    }
    .card{
        width: 100%;
    }
    #sponserSection,#whyusSection{
        height: 1000px;
        align-items: center;
        margin-top:10px ;
    }
    #sponser_container,#why_us_container{
        height: 980px;
        flex-direction: column;
        padding: 10px;
    }
    .sponsers{
        margin: 8px 0;
    }
    .whyus{
        width: 90%;
        margin: 25px;
    }
    .sponsers img{
        height: 150px;
        width: 250px;
    }
    #cerificate_container{
        width: 90%;
    }
    #newsletter{
        flex-direction: column;
    }
    #footer{
        height: 100%;
    }
}
 */

 





 


 

  @media screen and (max-width:600px){


    /* .navbar ul li:not(:first-child){display: none;} */
    .navbar ul li{display: none;}
    
    .navbar{
        
        display: block;
        padding: 0px;
    }
    .navbar ul{
        /* margin: auto; */
        flex-direction: column;
        /* height: 5px; */
        
   }
   
   .navbar ul li:hover{
    background-color: blue;
   }
   
   .navbar ul li a:hover{
       border-bottom: none;

   }
   .navbar.responsive{
    position: fixed;
    width: 70%;
    height: 100%; 
    margin: -10px;      
}
.navbar.responsive ul li{
    display: block;
}
.navbar.responsive .btnclose{
    display: block;
}
.navbar.responsive .btn{
    display: none;
}
    .btn{
        display: block;
        position: relative;
        padding: 0px 5px;
        border: none;
        font-size: 30px;
        color: white;
        background-color: #333;
        font-weight: 900;
        }
        .btn:hover{
            background-color: blue;
        }

    .btnclose{
        position: relative;
        float: right;
        right: 38px;
        top: 15px;
        padding: 0px 5px;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        margin-bottom: 20px;
        
    }
    #logo{
        display: none;
    }
    #introSection{
        height: 1000px;
        display: block;
        /* width: 391px; */
        /* margin-top: 25px; */
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    #introSection div{
        font-size: 4rem;
    }
    #introSection div.small{
        font-size: 2rem;
        color: black;
    }
    
    #missionSection{
        height: 100%;
        display: block;
        /* width: 391px; */
        margin: 0px;
    }
   
    .cardContainer {
        width: 371px;
        margin:  0px;
    }
    .card{
        width: 361px;
        height: 600px;
        flex-direction: column;
        margin: 15px 0px 15px 10px;
    }
    .card-box {
        flex-direction: column;
        width: 351px;
        height: 600px;
    }
    .card-img{
        width: 341px;
        height: 330px;
    }
    .card-img img{
        width: 335px;
        height: 340px;
    }
    .card-content{
        width: 335px;
        height: 150px;
    }
    #sponserSection,#whyusSection{
        height: 100%;
        /* align-items: center; */
        margin-top:10px ;
        display: block;
        width: 391px;
    }
    #sponser_container,#why_us_container{
        height: 100%;
        /* flex-direction: column; */
        display: block;
        padding: 0px;
        width: 391px;
    }
    .sponsers{        
        margin: 10px 10px;
    }
    .sponsers img{
        width: 300px;
        height: 290px;
    }
    .whyus{
        display: block;
        width: 335px;
        margin: 25px;
    }
    
    
        
        
    #certificateSection{
        width: 371px;
        height: 340px;
        display: block;
    }
    #certificateSection img{
        width: 371px;
    }

    
    #newsletter{
        /* flex-direction: column; */
        display: block;
        width: 371px;
        height: 350px;
    }
    #footer{
        height: 100%;
        /* width: 391px; */
        display: block;
        margin: 30px 0px 0px 0px;
    }
    .footerDiv{
        margin: 0px;
    }
    .footerDiv h1{
        font-size: 30px;
    }
    #footerSection,#bottom,.footerDiv{
        /* width: 391px; */
        display: block;
    }
    .footerDiv ul li a{
        font-size: 25px;
    }
    #bottom{
        height: 70px;
    }
    
 } 

 @media screen and(max-width:600px) {
   
    
} 





 









































/* 
 @media screen and (max-width:600px){

    .navbar{
        width: 100%;
        position: relative;
        height: 1220px;
    }
    .navbar ul{
        /* margin: auto; 
        flex-direction: column;
        
    }
    .navbar ul li{
        width: 100%;
    }
    .navbar ul li:hover{
        background-color: black;
    }
    .navbar ul li a {

        font-size: 5rem;
    }

    .navbar ul li a:hover{
        border-bottom: none;
        
    }
    #introSection{
        /* /* height: 400px; 
        height: 1440px;
        width: 100%;
        margin-top: 25px;
        padding: 25px;
        font-size:5rem ;
        
    }
    #introSection div.small{
        font-size: 4rem;
    }
    #missionSection{
        height: 100%;
        width: 90%;
        margin: 0px;
    }
    #missionSection h2{
        font-size: 5rem;
    }
    .cardContainer{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .card{
        width: 800px;
        font-size: 3rem;
        height:1000px;
        flex-wrap: wrap;
        margin: 25px 25px;
        width: 30rem;
  height: 100vh;
    }
    .card-box{
        flex-direction: column;
        width: 435px;
        height: 700px;
        margin: 0px;
    }
    .card-box .card-img{
        width: 451px;
        height: 654px;
    }
    .card-img img{
        width: 451px;
        height: 654px;
    }
    .card-content{
        font-size: 4rem;
        width: 451px;
        height: 654px;
    }
    #sponserSection,#whyusSection{
        height: 1000px;
        align-items: center;
        margin-top:10px ;
    }
    #sponser_container,#why_us_container{
        height: 980px;
        flex-direction: column;
        padding: 10px;
    }
    .sponsers{
        margin: 8px 0;
    }
    .whyus{
        width: 90%;
        margin: 25px;
    }
    .sponsers img{
        height: 150px;
        width: 250px;
    }
    #cerificate_container{
        width: 90%;
    }
    #newsletter{
        flex-direction: column;
    }
    #footer{
        height: 100%;
    }
 } */