/* @media screen and (max-width:391px) {

    #navbar{
        text-align: center;
        width: 100%;
        position: relative;
        display: block;
    }
    #navbar ul{
        display: block;
        margin: auto;
    }
    #navbar ul li:hover{
        background-color: black;
    }
    #navbar ul li a:hover{
        border-bottom: none;

    }
    #introSection{
        height: 400px;
        width: 100%;
        margin-top: 25px;
        padding: 25px;
    }
    #missionSection{
        height: 100%;
    }
    .card{
        width: 100%;
    }
    #sponserSection,#whyusSection{
        height: 1000px;
        align-items: center;
        margin-top:10px ;
    }
    #sponser_container,#why_us_container{
        height: 980px;
        flex-direction: column;
        padding: 10px;
    }
    .sponsers{
        margin: 8px 0;
    }
    .whyus{
        width: 90%;
        margin: 25px;
    }
    .sponsers img{
        height: 150px;
        width: 250px;
    }
    #cerificate_container{
        width: 90%;
    }
    #newsletter{
        flex-direction: column;
    }
    #footer{
        height: 100%;
    }
}
 */

 









 /* @media screen and (max-width:1122px){

    .navbar{
        text-align: center; 
        width: 100%;
        position: relative;
        height: 500px;
    }
    .navbar ul{
         margin: auto;
         flex-direction: column;

    }
    .navbar ul li{
        width: 100%;
    }
    .navbar ul li:hover{
        background-color: black;
    }
    .navbar ul li a:hover{
        border-bottom: none;

    }
    #introSection{
        /* /* height: 400px; 
        height: 1440px;
        width: 100%;
        margin-top: 25px;
        padding: 25px;
    }
    #missionSection{
        height: 100%;
    }
    .card{
        width: 100%;
    }
    #sponserSection,#whyusSection{
        height: 1000px;
        align-items: center;
        margin-top:10px ;
    }
    #sponser_container,#why_us_container{
        height: 980px;
        flex-direction: column;
        padding: 10px;
    }
    .sponsers{
        margin: 8px 0;
    }
    .whyus{
        width: 90%;
        margin: 25px;
    }
    .sponsers img{
        height: 150px;
        width: 250px;
    }
    #cerificate_container{
        width: 90%;
    }
    #newsletter{
        flex-direction: column;
    }
    #footer{
        height: 100%;
    }
 } */


















































 @media screen and (max-width:1122px){

    .navbar{
        text-align: center; 
        width: 100%;
        position: relative;
        height: 1220px;
    }
    .navbar ul{
        /* margin: auto; */
        flex-direction: column;
        
    }
    .navbar ul li{
        width: 100%;
    }
    .navbar ul li:hover{
        background-color: black;
    }
    .navbar ul li a {

        font-size: 5rem;
    }

    .navbar ul li a:hover{
        border-bottom: none;
        
    }
    #introSection{
        /* /* height: 400px; */
        height: 1440px;
        width: 100%;
        margin-top: 25px;
        padding: 25px;
        font-size:5rem ;
        
    }
    #introSection div.small{
        font-size: 4rem;
    }
    #missionSection{
        height: 100%;
        width: 90%;
    }
    #missionSection h2{
        font-size: 5rem;
    }
    .card{
        width: 600px;
        font-size: 3rem;
        height:1000px;
    }
    .card-box{
        flex-direction: column;
        width: 435px;
        height: 700px;
    }
    .card-box .card-img{
        height: 400px;
        width: 363px;
    }
    .card-content{
        font-size: 4rem;
        width: 363px;
        height: 400px;
    }
    #sponserSection,#whyusSection{
        height: 1000px;
        align-items: center;
        margin-top:10px ;
    }
    #sponser_container,#why_us_container{
        height: 980px;
        flex-direction: column;
        padding: 10px;
    }
    .sponsers{
        margin: 8px 0;
    }
    .whyus{
        width: 90%;
        margin: 25px;
    }
    .sponsers img{
        height: 150px;
        width: 250px;
    }
    #cerificate_container{
        width: 90%;
    }
    #newsletter{
        flex-direction: column;
    }
    #footer{
        height: 100%;
    }
 }