@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.btn,.btnclose{
    display: none;
}
.navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: purple; */
    background-image: linear-gradient(45deg,#874da2 0,#c43a30 100%);
    padding: 13px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    text-align: left;
    /* flex-wrap: wrap; */
}
#logo{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0px 14px;
}
#logo p{
    margin-top: -20px;
    color: black;
    font-weight: 900;
    /* font-size: 25px; */
}
#logo img{
    /* margin-right: 30px; */
    height: 50px;
    width: 50px;
    margin: 0;
    /* filter: invert(1); */
    
}
.navbar ul{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
}
.navbar ul li{
    list-style: none;
    margin: 2px 15px;
    padding: 7px 11px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.navbar li a:hover{
    border-bottom: 2px solid white;
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position: 500px 500px;
    background: url('/static/img/intro1.jpg') no-repeat center center/cover;
    height: 425px;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 45px;
    padding-bottom: 40px;

}
#introSection div.small{
    font-size: 20px;
    padding: 10px;
}
#missionSection{
    height: 400px;
    width: 72%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#missionSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top:12px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 209px;
    width:29%;
    margin:23px 20px;
    padding: 12px;
    background-color: #fff6f6;
    box-shadow: 1px 1px 1px 1px black;
}

.card h3{
    text-align: center;
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 120px;
    padding: 0 0px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 10px;
}
.card-content p{
    font-size: 20px;
}
#a{
    margin-top: -5px;
}
#sponserSection{
    height: 400px;
    background-color:#fbd6d6c7;    
    display: flex;
    flex-direction: column;
}
#sponserSection h2,#whyusSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top:12px;
    
}
#sponser_container{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* flex-wrap: wrap; */
}
.sponsers img{
    height: 150px;
    width: 200px;
    margin: 5px 20px;
    border-radius: 5px;  
}
.sponsers img:hover{
    transform: scale(1.1);
}
#whyusSection{
    height: 425px;
    display: flex;
    flex-direction: column;
    background-color:  #f5fafd;
    justify-content: center;
    align-items: center;
    
}
#why_us_container{
    display: flex;
    width: 90%;
    margin: 15px auto;
}
.whyus{
    height: 250px;
    width: 355px;
    margin: 5px 55px;
    border-radius: 5px;
    padding: 35px 10px;
    text-align: center;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    border: 1px solid brown;
    /* background-color: #fff; */
    background-image: linear-gradient(45deg,#874da2 0,#c43a30 100%);
    box-shadow: 2px 2px 2px 2px black;
}
.whyus h3{
    font-family: Muli,sans-serif;
    font-weight: 60px;
    font-size: 25px;
    /* color: #3C424F; */
    color: white;
    margin: 15px;
}
.whyus p{
    color: #8E9DAE;
    color: #fff;
}

#certificateSection{
    margin: 15px 0;
    height: 600px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
#certificateSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top:12px;
}
#certificateSection img{
    height: 80%;
    width: 90%;
}

#cerificate_container{
    display: flex;
    width: 60%;
    height: 400px;
    margin:50px auto;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px black;
    cursor: pointer;
}
.CertiImage img{
    height: 200px ;
    width: 225px;
    margin: 50px;
}

#newsletter{
    background-image: linear-gradient(45deg,#874da2 0,#c43a30 100%);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#newsletter h1{
    color: #fff;
    font-weight: 400;
    font-size: 45px;
    margin: 10px 50px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
#newsletter .btn{
    background-color: #FF9800;
    border-color: #FF9800;
    padding: 10px 25px;
    font-size: 15px;
    color: white;
    transition: all .3s linear;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:300px ;
    margin: 50px auto;
    
} 
#footerSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footerDiv{
    height: 200px;
    width: 300px;
    margin: 30px 25px;
    padding: 15px;
    text-align: center;
}
.footerDiv ul li{
    list-style: none;
}

.footerDiv ul li a{
    text-decoration: none;
    font-size: 20px;
    
}
.footerDiv ul li a:hover{
    color: rgb(27, 13, 13);
    margin-top: 10px;
 }
#bottom{
    /* background-color: black; */
    background-image: linear-gradient(45deg,#874da2 0,#c43a30 100%);
    color: #fff6f6;  
    width: 100%;
    height: 50px;
    text-align: center;
}
#bottom p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



